.banner{
    width: 65%;
    height: 30vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 30px;
    background: linear-gradient(30deg, #FFF261 0%, #FF6161 75%, #FF6190 100%);
}
.banner-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-left h1{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}
.banner-left h2{
    color: #ff0000;
    font-size: 40px;
    font-weight: 600;
}
.banner-left button{
    width: 282px;
    height: 50px;
    border-radius: 35px;
    border: none;
    margin-top: 10px;
    background: #ec0fa2;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.banner-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.banner-right img{
    width: 300px;
}
.homecategory-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.homecategory-sort{
    display: flex;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.homecategory-indexsort p span{
    font-weight: 600;
}
.homecatergory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.homecategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}